body {
    background-image: url(img/background.jpg);
}
header {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgb(182, 73, 23);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: Helvetica;
    height: max(40px, 8%);
    width: 100%;
}
.bandinter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    font-size: max(10px, 1vw);
}
.logo {
    display: flex;
    align-items: center;
    max-width: calc(50px + 0.8vw);
    height: auto;
    margin-right: 15px;
}
.logo2 {
    display: flex;
    align-items: center;
    max-width: calc(50px + 0.8vw);
    height: auto;
    margin-left: 15px;
    transform: scaleX(-1);
}
.iconewhere {
    top: 0;
    right: 0;
    margin-right: 4%;
    margin-left: min(300px, 10%);
    position: fixed;
}
.iconehow {
    float: right;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: darkgrey;
    margin-left: 10px;
}
.iconehow:hover {
    background-color: black;
}

.icone {
    padding: 10px;
    height: 4.5vh;
}
.intro {
    width: auto;
    height: fit-content;
    margin: 2% -2%;
    margin-top: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.facade {
    width: 55%;
    height: auto;
    border-radius: 8px;
}
.boulange {
    width: 35%;
    padding: 2%;
    line-height: 21px;
}
.titreboulange {
    font-size: calc(15px + 1.2vw);
    font-weight: bold;
    text-align: center;
    padding-bottom: 2%;
}
.farine {
    font-size: calc(15px + 1.2vw);
    font-weight: bold;
    padding-bottom: 2%;
    margin-left: 2%;
    width: fit-content;
}
.presentation {
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.jesuis {
    margin-left: 1%;
    padding-right: 4%;
}
.photofarine {
    height: 510px;
    border-radius: 4px;
}
.contact {
    background-color: rgb(228, 228, 228);
    width: 130px;
    height: 30px;
    border-radius: 7px;
    margin-left: 40%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-weight: 500;
    border-style: solid;
    border-color: rgb(172, 172, 172);
    border-width: 4px;
    color: black;
}
a:link, a:visited {
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: underline;
}
.strongperso {
    font-weight: bold;
}