body {
    background-image: url(img/background.jpg);
}
.bandeau {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgb(182, 73, 23);
    display: inline-block;
    font-family: Helvetica;
    height: auto;
    width: 100%;
}
.bandinter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.logo {
    display: flex;
    align-items: center;
    max-width: calc(50px + 0.8vw);
    height: auto;
    margin-right: 15px;
}
.logo2 {
    display: flex;
    align-items: center;
    max-width: calc(50px + 0.8vw);
    height: auto;
    margin-left: 15px;
    transform: scaleX(-1);
}
.iconewhere {
    top: 0;
    right: 0;
    margin-right: 4%;
    position: fixed;
}
.iconehow {
    float: right;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: darkgrey;
    margin-left: 10px;
}
.iconehow:hover {
    background-color: black;
}

.icone {
    padding: 12px;
    width: 40px;
}
.formulaire {
    float: right;
    margin-top: calc(150px + 0vw);
    margin-right: 2%;
    background-color: rgb(230, 150, 58);
    width: auto;
    min-width: 350px;
    height: 690px;
    padding: 1%;
    border-radius: 26px;
    border-color: chocolate;
    border-style: solid;
    border-width: 5px;
}
.titemarge {
    margin-top: 1%;
}
.oblig1:after {
    content: " *";
    color: red;
}
.oblig {
    margin-top: 1%;
}
.oblig:after {
    content: " *";
    color: red;
}
textarea {
    max-width: 34.2vw;
    max-height: 21vw;
    min-width: 34.2vw;
    min-height: 4vw;
    font-size: 18px;
    letter-spacing: 0.3px;
}
button {
    position: relative;
    bottom: 0px;
    right: 0px;
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: large;
    float: right;
}
h2 {
    margin-top: -0.5%;
}
.email {
    font-size: 11px;
}